.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Local History for Visual Studio Code
.history/


.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json